/* header */
.header {
    display: flex;
    flex-direction: column;
}

.header .header-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-body .phone {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.header .header-body .phone span {
    margin-left: 15px;
    cursor: pointer;
    transition: color ease 0.4s;
}

.header .header-body .phone span:hover {
    color: #63d46f;
}

.header .header-body .logo {
    margin-right: 50px;
    width: 150px;
    height: 150px;
}

.header .header-body .icons {
    margin-right: 70px;
    cursor: pointer;
    transition: color ease 0.3s;
}

.header .header-body .icons .heart-icon, 
.header .header-body .icons .basket-icon {
    transition: color ease 0.3s;
}

.header .header-body .icons .heart-icon:hover, 
.header .header-body .icons .basket-icon:hover {
    color: #63d46f;
}

.header .header-body .icons .heart-icon {
    margin-right: 7px;
}

.header .header-list {
    display: flex;
    justify-content: center;
}

.header .header-list .nav-item a {
    color: #5c5d5c;
    font-size: 14px;
    transition: color ease 0.4s;
}

.header .header-list .nav-item a:hover {
    color: #63d46f;
    border-bottom: 1px solid #63d46f;
    border-radius: 0%;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.main .home-about{
    background-image: url("/assets/images/watercolor-floral-background_23-2149652760.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .home-about .home {
    cursor: pointer;
    transition: color ease 0.3s;
}

.main .home-about .home:hover {
    color: #63d46f;
}

.main .home-about .square {
    color: #63d46f;
    cursor: pointer;
}

.main .story{
    margin-top: 70px;
}

.main .story .container h1{
    font-size: 50px;
}

.main .story .container .story{
    color: #63d46f;
}

.main .story .container .text{
    color: #5c5d5c;
    font-size: 18px;
    margin-top: 50px;
}

.main .three-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.main .three-cards .card-1,
.main .three-cards .card-2,
.main .three-cards .card-3 {
    border: 1px dashed #63d46f;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main .three-cards .card-1 .car-icon,
.main .three-cards .card-2 .card-icon,
.main .three-cards .card-3 .id-card-icon {
    font-size: 30px;
}

.main .three-cards .card-1 h5,
.main .three-cards .card-2 h5,
.main .three-cards .card-3 h5 {
    font-size: 18px;
    font-weight: bold;
}

.main .three-cards .card-1 p,
.main .three-cards .card-2 p,
.main .three-cards .card-3 p {
    margin: 0;
    font-size: 15px;
}

.main .about-numbers .container{
    margin-top: 80px;
    font-style: italic;
    text-align: center;
    max-width: 1000px;
}

.main .about-numbers .container .eiusmod-tempor{
    color: #63d46f;
}

.main .team{
    margin-top: 50px;
}

.main .team h1{
    text-align: center;
}

.main .team .container{
    margin-top: 40px;
    max-width: 600px;
}

.main .team .container p{
    text-align: center;
}

/* footer */
.footer footer {
    background-image: url("/assets/images/pngtree-green-leaf-plant-background-picture-image_1441516.jpg");
}

.footer footer .container {
    margin-top: 50px;
}

.footer footer .container .section {
    margin-right: 30px;
}

.footer footer .container .section .list-unstyled .footer-link {
    color: black;
    text-decoration: none;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .footer-link:hover {
    color: #63d46f;
}

.footer footer .container .section .list-unstyled .address {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .address:hover {
    color: #63d46f;
}

.footer footer .container .section .social-links .social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.footer footer .container .section .social-links .social-icon:hover {
    transform: translateY(-3px);
    color: white;
}