/* header */
.header {
    display: flex;
    flex-direction: column;
}

.header .header-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* phone icon */
.header .header-body .phone {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.header .header-body .phone i {
    color: #63d46f;
}

.header .header-body .phone span h6 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
    transition: color ease 0.4s;
}

.header .header-body .phone span h6:hover {
    color: #63d46f;
}

/* logo */
.header .header-body .logo {
    margin-right: 70px;
    width: 170px;
    height: 170px;
}

/* icons */
.header .header-body .icons {
    margin-right: 70px;
    cursor: pointer;
}

.header .header-body .icons .heart-icon,
.header .header-body .icons .basket-icon {
    transition: color ease 0.3s;
}

.header .header-body .icons .heart-icon:hover,
.header .header-body .icons .basket-icon:hover {
    color: #63d46f;
}

.header .header-body .icons .heart-icon {
    margin-right: 7px;
}

/* list */
.header .header-list {
    display: flex;
    justify-content: center;
}

.header .header-list .nav-item a {
    color: #5c5d5c;
    font-size: 15px;
    transition: color ease 0.4s;
}

.header .header-list .nav-item a:hover {
    color: #63d46f;
    border-bottom: 1px solid #63d46f;
    border-radius: 0%;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

/* carousel */
.main .carousel #carouselExample .carousel-inner .carousel-item {
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active {
    background-image: url("/assets/images/pink-background.jpg");
    background-size: 100% 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text span,
.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text h1 {
    font-size: 70px;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text p {
    font-size: 20px;
    font-weight: bold;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-text .discover-btn {
    border: 1px solid #63d46f;
    border-radius: 10px;
    background-color: #63d46f;
    width: 180px;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}

.main .carousel #carouselExample .carousel-inner .carousel-item.active .carousel-img img {
    height: 450px;
    width: 450px;
    border: 1px solid pink;
    border-radius: 50%;
    object-fit: cover;
}

/* 3 cards */
.main .three-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.main .three-cards .card-1,
.main .three-cards .card-2,
.main .three-cards .card-3 {
    border: 1px dashed #63d46f;
    border-radius: 5px;
    padding: 20px 65px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main .three-cards .card-1 .car-icon,
.main .three-cards .card-2 .card-icon,
.main .three-cards .card-3 .id-card-icon {
    font-size: 30px;
    color: #63d46f;
}

.main .three-cards .card-1 h5,
.main .three-cards .card-2 h5,
.main .three-cards .card-3 h5 {
    font-size: 20px;
    font-weight: bold;
}

.main .three-cards .card-1 p,
.main .three-cards .card-2 p,
.main .three-cards .card-3 p {
    margin: 0;
    font-size: 15px;
}

/* our products */
.main .products {
    margin-top: 100px;
}

.main .products h1 {
    text-align: center;
    margin-bottom: 50px;
}

/* .main .products .sorted-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 50px;
}

.main .products .sorted-cards .card-1,
.main .products .sorted-cards .card-2,
.main .products .sorted-cards .card-3 {
    border: 1px solid #5c5d5c;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    flex: 1;
    min-width: 100px;
}

.main .products .sorted-cards .card-1 p,
.main .products .sorted-cards .card-2 p,
.main .products .sorted-cards .card-3 p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.main .products .sorted-cards .card-1:hover,
.main .products .sorted-cards .card-2:hover,
.main .products .sorted-cards .card-3:hover {
    border: 1px dashed #63d46f;
    transform: scale(1.05);
} */

.main .products .cards .card-wrapper .card {
    margin-bottom: 40px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .products .cards .card-wrapper .card:hover {
    transform: scale(1.05);
}

.main .products .cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .products .cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .products .cards .card-wrapper .card .card-body .card-title {
    transition: color ease 0.3s;
}

.main .products .cards .card-wrapper .card .card-body .card-title:hover {
    color: #63d46f;
}

.main .products .cards .card-wrapper .card .card-body .card-text {
    color: #63d46f;
    font-size: 20px;
    font-weight: 400;
}

/* shop cards */
.main .shop-cards {
    margin-top: 80px;
}

.main .shop-cards .container .row {
    display: flex;
    flex-wrap: wrap;
}

.main .shop-cards .container .row .col-lg-8 .card-item .card-img img {
    max-width: 100%;
    width: 770px;
    height: 300px;
    margin-right: 10px;
    object-fit: cover;
}

.main .shop-cards .container .row .col-lg-4.col-md-6 .card-item .card-img img {
    max-width: 100%;
    width: 370px;
    height: 300px;
}

.main .shop-cards .container .row .card-item {
    position: relative;
    transition: all 0.4s ease;
}

.main .shop-cards .container .row .card-item:hover {
    box-shadow: 0px 0px 5px 0px;
    transform: scale(1.02);
}

.main .shop-cards .container .row .col-lg-8 .card-item .card-text,
.main .shop-cards .container .row .col-lg-4.col-md-6 .card-item .card-text {
    position: absolute;
}

.main .shop-cards .container .row .card-item .card-text.text-position {
    top: 25px;
    left: 30px;
}

.main .shop-cards .container .row .card-item .card-text {
    color: #054915;
}

.main .shop-cards .container .row .card-item .card-text .title {
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.main .shop-cards .container .row .card-item .card-text .button-wrap .shop-btn {
    border: 1px solid #63d46f;
    border-radius: 20px;
    background-color: #63d46f;
    width: 180px;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
}

/* new products */
.main .new-products h1 {
    text-align: center;
    margin-top: 70px;
}

.main .new-products .text {
    text-align: center;
}

.main .new-products .new-cards {
    margin-bottom: 50px;
}

.main .new-products .new-cards .card-wrapper .card {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .new-products .new-cards .card-wrapper .card:hover {
    transform: scale(1.05);
}

.main .new-products .new-cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .new-products .new-cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .new-products .new-cards .card-wrapper .card .card-body .card-title:hover {
    color: #63d46f;
}

.main .new-products .new-cards .card-wrapper .card .card-body .card-text {
    color: #63d46f;
    font-size: 20px;
    font-weight: 400;
}

.main .new-products .new-cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .new-products .new-cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
.footer footer {
    background-image: url("/assets/images/footer-background.jpg");
}

.footer footer .container {
    margin-top: 50px;
}

/* pronia */
.footer footer .container .section {
    margin-right: 30px;
}

.footer footer .container .section .list-unstyled .footer-link {
    color: black;
    text-decoration: none;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .footer-link:hover {
    color: #63d46f;
}

/* contact info */
.footer footer .container .section .list-unstyled .address {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .address:hover {
    color: #63d46f;
}

.footer footer .container .section .social-links .social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.footer footer .container .section .social-links .social-icon:hover {
    transform: translateY(-3px);
    color: white;
}