/* header */
.header {
    display: flex;
    flex-direction: column;
}

.header .header-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-body .phone {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.header .header-body .phone span {
    margin-left: 15px;
    cursor: pointer;
    transition: color ease 0.4s;
}

.header .header-body .phone span:hover {
    color: #6df56d;
}

.header .header-body .logo {
    margin-right: 50px;
    width: 150px;
    height: 150px;
}

.header .header-body .icons {
    margin-right: 70px;
    cursor: pointer;
}

.header .header-body .icons .heart-icon {
    margin-right: 7px;
}

.header .header-list {
    display: flex;
    justify-content: center;
}

.header .header-list .nav-item a {
    color: #5c5d5c;
    font-size: 14px;
    transition: color ease 0.4s;
}

.header .header-list .nav-item a:hover {
    color: #6df56d;
    border-bottom: 1px solid #6df56d;
    border-radius: 0%;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.main .three-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main .three-cards .card-1,
.main .three-cards .card-2,
.main .three-cards .card-3 {
    border: 1px dashed #6df56d;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.main .three-cards .card-1 .car-icon,
.main .three-cards .card-2 .card-icon,
.main .three-cards .card-3 .id-card-icon {
    font-size: 30px;
}

.main .three-cards .card-1 h5,
.main .three-cards .card-2 h5,
.main .three-cards .card-3 h5 {
    font-size: 18px;
    font-weight: bold;
}

.main .three-cards .card-1 p,
.main .three-cards .card-2 p,
.main .three-cards .card-3 p {
    margin: 0;
    font-size: 15px;
}

.main .products {
    margin-top: 100px;
}

.main .products h1 {
    text-align: center;
    margin-bottom: 50px;
}

.main .products .sorted-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 50px;
}

.main .products .sorted-cards .card-1,
.main .products .sorted-cards .card-2,
.main .products .sorted-cards .card-3 {
    border: 1px solid #5c5d5c;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    flex: 1;
    min-width: 100px;
}

.main .products .sorted-cards .card-1 p,
.main .products .sorted-cards .card-2 p,
.main .products .sorted-cards .card-3 p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.main .products .sorted-cards .card-1:hover,
.main .products .sorted-cards .card-2:hover,
.main .products .sorted-cards .card-3:hover {
    border: 1px dashed #6df56d;
    transform: scale(1.05);
}

.main .products .cards .card-wrapper .card {
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .products .cards .card-wrapper .card:hover {
    transform: scale(1.05);
}

.main .products .cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .products .cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .products .cards .card-wrapper .card .card-body .card-title:hover {
    color: #6df56d;
}

.main .products .cards .card-wrapper .card .card-body .card-text {
    color: #6df56d;
    font-size: 20px;
    font-weight: 400;
}

.main .new-products h1 {
    text-align: center;
    margin-top: 50px;
}

.main .new-products .text {
    text-align: center;
}

.main .new-products .new-cards .card-wrapper .card {
    margin-top: 40px;
    margin-bottom: 30px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main .new-products .new-cards .card-wrapper .card:hover {
    transform: scale(1.05);
}

.main .new-products .new-cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .new-products .new-cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .new-products .new-cards .card-wrapper .card .card-body .card-title:hover {
    color: #6df56d;
}

.main .new-products .new-cards .card-wrapper .card .card-body .card-text {
    color: #6df56d;
    font-size: 20px;
    font-weight: 400;
}

.main .new-products .new-cards .card-wrapper .card .card-img {
    height: 250px;
    width: 100%;
    border-radius: 4px;
}

.main .new-products .new-cards .card-wrapper .card .card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer */
.footer footer {
    background-image: url("/assets/images/pngtree-green-leaf-plant-background-picture-image_1441516.jpg");
}

.footer footer .container {
    margin-top: 50px;
}

.footer footer .container .section {
    margin-right: 30px;
}

.footer footer .container .section .list-unstyled .footer-link {
    color: black;
    text-decoration: none;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .footer-link:hover {
    color: #6df56d;
}

.footer footer .container .section .list-unstyled .address {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: color ease 0.3s;
}

.footer footer .container .section .list-unstyled .address:hover {
    color: #6df56d;
}

.footer footer .container .section .social-links .social-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.footer footer .container .section .social-links .social-icon:hover {
    transform: translateY(-3px);
    color: white;
}